.testimonials{
    padding:100px 80px;
    text-align:center;
}

.testimonial-tag{
    color:#169b82;
    font-weight:600;
    margin-bottom:15px;
}

.testimonials h2{
    font-size:45px;
    margin-bottom:20px;
}

.testimonial-text{
    color:#666;
    margin-bottom:60px;
}

.testimonial-container{
    display:flex;
    gap:30px;
}

.testimonial-card{
    flex:1;
    background:white;
    padding:35px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.review{
    color:#555;
    line-height:30px;
    margin-bottom:30px;
}

.testimonial-card h4{
    margin-bottom:8px;
}

.testimonial-card span{
    color:#169b82;
}